.chat-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: stretch;
}

.chat-header {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.chat-message {
    margin: 10px 0;
}

.user-message p {
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    margin-left: auto;
}

.bot-message p {
    background-color: #e4e6eb;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.chat-input-container {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 25px;
}

.chat-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
    outline: none;
    box-sizing: border-box;
}

.send-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #0056b3;
}

.send-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.chat-loading {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}
