/* App.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.switch_theme {
    display: flex;
    margin-left: 10%;
    padding-right: 10%;
}

.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    background: rgb(89, 0, 255);
    width: 5%;
    height: 280px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    position: relative;
}

.side_bar_div {
    display: flex;
    float: left;
    z-index: 1;
    margin-left: 3px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
}
